@import "color-scheme";
@import "fira";

body {
    padding: 1em;
    
    font-family: fira-sans;
    font-size: 1.2em;
}

@media(min-width: 1200px){
    body {
        width: 50%;
    }
}

a {
    color: $rgba-blue-0;
}

a:visited {
    color: $rgba-orange-0;
}

@import "header";
@import "navigation";
