@import "color-scheme";
@import "fira";
@import "viewport";

body {
    padding: 1em;
    
    font-family: fira-sans;
    font-size: 1.2em;
}

a {
    color: $rgba-blue-0;
}

a:visited {
    color: $rgba-orange-0;
}

@import "header";
@import "navigation";
