@import "color-scheme";
@import "fira";
@import "viewport";

body {
    padding: 1em;
    
    font-family: fira-sans;
    font-size: 1.2em;
}

a {
    color: $rgba-blue-0;
}

a:visited {
    color: $rgba-orange-0;
}

hr {
    border-style: solid;
    color: $rgba-black-4;
}

main {
    h1 {
        color: $rgba-black-2;
        font-style: italic;
        margin: 0.5em 0.5em 0 0;
    }

    h2 {
        color: $rgba-black-2;
        margin: 0.5em 0.5em 0 0;
    }

    p {
        margin: 0.5em 0.5em 0 0;
    }
}

em.subtle {
    color: $rgba-black-2;
    font-size: 0.75em;
    font-style: italic;
}

@import "header";
@import "navigation";
