<%
  grid_content = defined?(content) ? content : ''
  grid_header  = defined?(header)  ? header  : nil
  grid_footer  = defined?(footer)  ? footer  : nil
  grid_columns = defined?(columns) ? columns : nil
%>
<% if grid_header %>
<header><%= grid_header %></header>
<% end %>
<div class="card-grid"<% if grid_columns %> style="--card-grid-cols: <%= grid_columns %>"<% end %>>
  <%= grid_content %>
</div>
<% if grid_footer %>
<footer><%= grid_footer %></footer>
<% end %>
