<footer>
    <address>
        Dannick Pomerleau<br>
        <a href="webmaster@deuterium.ca">webmaster@deuterium.ca</a><br>
        Alberta<br>
    </address>
    <small>&copy;<%= (Date.today).strftime("%Y") %> Dannick Pomerleau </small>
</footer>
