<hr>
<footer>
    <address>
        Dannick Pomerleau<br>
        <a href="mailto:webmaster@deuterium.ca">webmaster@deuterium.ca</a><br>
        Canada<br>
    </address>
    <em class="subtle">&copy;<%= (Date.today).strftime("%Y") %> Dannick Pomerleau </em>
</footer>
