<footer>
  <% footer_content = capture_html do %>
    <div class="system-info">
      <div class="system-label">// SYSTEM INFO</div>
      NODE: www.deuterium.ca<br>
      REGION: Canada<br>
      EMAIL: <a href="mailto:webmaster@deuterium.ca">webmaster@deuterium.ca</a><br>
      &copy;<%= (Date.today).strftime("%Y") %> Dannick Pomerleau
    </div>
  <% end %>
  <%= partial "partial/card", locals: { colour: "grey", content: footer_content } %>
</footer>
