<header>
    <h1>
        <span class="glitch-wrap">
            <%= link_to 'Deuterium.ca', '/index.html' %>
            <span class="glitch-ghost" aria-hidden="true">Deuterium.ca</span>
        </span>
    </h1>
    <h2>> <%= current_page.data.title %></h2>
</header>
<nav>
    <ul>
        <% data.index.each do |item| %>
        <li><%= link_to item["title"], item["link"] %></li>
        <% end %>
    </ul>
</nav>
