---
title: Contact Me
---

<h1>Dannick Pomerleau</h1>
Email: <a href="mailto:dannick@deuterium.ca">dannick@deuterium.ca</a><br>
GitHub: <a href="https://github.com/shammancer">Shammancer</a><br>
Twitter: <a href="https://twitter.com/Shammancer">@Shammancer</a><br>
<em class="subtle">My prefered contact method is email.</em>
