@use "sass:math";

@mixin view-mw($w){
    #container {
        width: math.div(600px, $w) * 100%;
    }

    nav ul {
        grid-template-columns: auto auto auto auto;
    }
}

@mixin sm-view-mw($w){
    #container {
        width: math.div(300px, $w) * 100%;
    }

    nav ul {
        grid-template-columns: auto auto;
    }
}

@media(min-width: 300px){
    @include sm-view-mw(300px);
}

@media(min-width: 350px){
    @include sm-view-mw(350px);
}

@media(min-width: 400px){
    @include sm-view-mw(400px);
}

@media(min-width: 500px){
    @include sm-view-mw(500px);
}

@media(min-width: 600px){
    @include view-mw(600px);
}

@media(min-width: 700px){
    @include view-mw(700px);
}

@media(min-width: 900px){
    @include view-mw(900px);
}

@media(min-width: 1200px){
    @include view-mw(1200px);
}

@media(min-width: 1500px){
    @include view-mw(1500px);
}

@media(min-width: 1800px){
    @include view-mw(1800px);
}

@media(min-width: 2100px){
    @include view-mw(2100px);
}

@media(min-width: 2400px){
    @include view-mw(2400px);
}
