@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Roman/FiraSansCompressed-Hair.woff2);
  font-style: normal;
  font-weight: 100; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Roman/FiraSansCompressed-Thin.woff2);
  font-style: normal;
  font-weight: 150; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Roman/FiraSansCompressed-UltraLight.woff2);
  font-style: normal;
  font-weight: 200; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Roman/FiraSansCompressed-ExtraLight.woff2);
  font-style: normal;
  font-weight: 250; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Roman/FiraSansCompressed-Light.woff2);
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Roman/FiraSansCompressed-Book.woff2);
  font-style: normal;
  font-weight: 350; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Roman/FiraSansCompressed-Regular.woff2);
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Roman/FiraSansCompressed-Medium.woff2);
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Roman/FiraSansCompressed-SemiBold.woff2);
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Roman/FiraSansCompressed-Bold.woff2);
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Roman/FiraSansCompressed-ExtraBold.woff2);
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Roman/FiraSansCompressed-Heavy.woff2);
  font-style: normal;
  font-weight: 900; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Italic/FiraSansCompressed-HairItalic.woff2);
  font-style: italic;
  font-weight: 50; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Italic/FiraSansCompressed-ThinItalic.woff2);
  font-style: italic;
  font-weight: 100; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Italic/FiraSansCompressed-UltraLightItalic.woff2);
  font-style: italic;
  font-weight: 200; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Italic/FiraSansCompressed-ExtraLightItalic.woff2);
  font-style: italic;
  font-weight: 250; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Italic/FiraSansCompressed-LightItalic.woff2);
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Italic/FiraSansCompressed-BookItalic.woff2);
  font-style: italic;
  font-weight: 350; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Italic/FiraSansCompressed-RegularItalic.woff2);
  font-style: italic;
  font-weight: 400; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Italic/FiraSansCompressed-MediumItalic.woff2);
  font-style: italic;
  font-weight: 500; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Italic/FiraSansCompressed-SemiBoldItalic.woff2);
  font-style: italic;
  font-weight: 600; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Italic/FiraSansCompressed-BoldItalic.woff2);
  font-style: italic;
  font-weight: 700; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Italic/FiraSansCompressed-ExtraBoldItalic.woff2);
  font-style: italic;
  font-weight: 800; }
@font-face {
  font-family: fira-sans;
  src: url(/fonts/FiraSans/Italic/FiraSansCompressed-HeavyItalic.woff2);
  font-style: italic;
  font-weight: 900; }
@font-face {
  font-family: fira-mono;
  src: url(/fonts/FiraMono/FiraMono-Bold.woff2);
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: fira-mono;
  src: url(/fonts/FiraMono/FiraMono-Medium.woff2);
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: fira-mono;
  src: url(/fonts/FiraMono/FiraMono-Regular.woff2);
  font-style: normal;
  font-weight: 400; }
body {
  font-family: fira-sans;
  font-size: 1.2em;
  padding: 1em; }

a {
  color: #037eb3; }

a:visited {
  color: #ff8700; }

header {
  display: block; }

header h1 {
  display: inline;
  margin: 0 0 0 0;
  font-family: fira-sans;
  font-weight: 700;
  font-size: 3em; }

header h1 a {
  color: #d20084;
  text-decoration: none; }

header h1 a:visited {
  color: #d20084; }

header h2 {
  display: inline;
  margin: 0 0 0 0;
  font-family: fira-sans;
  font-weight: 600;
  font-style: italic;
  font-size: 3em;
  color: #8fcc00; }
