---
title: Gate Walkers - Table of Contents
---
<p>
As a member of the Frontier Guild of the settlement Gransby.
You have been tasked to explore the gate network and expand the frontier
of the Gransby settlement.
</p>
<ol class="tc">
    <li><a href="index.html">Table of Contents</a></li>
    <li>
        Logs
        <ol>
            <li><a href="the-exile.html">The Exile</a></li>
        </ol>
    </li>
    <li>
      Konungariket
      <ol>
        <li><a href="gransby.html">Gransby</a></li>
        <li>Grindarnastad</li>
      </ol>
    </li>
    <li>
        <a href="gates.html">Gates</a>
        <ol>
            <li><a href="gate-guild.html">The Gate Minders</a></li>
        </ol>
    </li>
    <li><a href="influences.html">Influences</a></li>
    <li><a href="terms.html">Terms</a></li>
</ol>
